openapi: 3.0.3
info:
  title: Twitter OpenAPI
  version: 0.0.1
paths:
  /parameters:
    get:
      parameters:
        - name: user-agent
          in: header
          required: true
          schema:
            type: string
            default: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
            description: "UserAgent, some APIs may be rejected if changed."
        - name: authorization
          in: header
          required: true
          schema:
            type: string
            default: "Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA"
            description: "It is a constant value and does not need to be changed."
        - name: x-twitter-active-user
          in: header
          required: true
          schema:
            type: string
            default: "yes"
            description: "Unknown what this value means."
        - name: x-twitter-client-language
          in: header
          required: true
          schema:
            type: string
            default: "en"
            description: "language code."

        # Browser Schemes
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            default: "*/*"
            description: "*/*"
        - name: Accept-Encoding
          in: header
          required: true
          schema:
            type: string
            default: "gzip, deflate, br"
            description: "gzip, deflate, br"
        - name: Accept-Language
          in: header
          required: true
          schema:
            type: string
            default: "en-US,en;q=0.9"
            description: "en-US,en;q=0.9"
        - name: Cache-Control
          in: header
          required: true
          schema:
            type: string
            default: "no-cache"
            description: "no-cache"
        - name: Pragma
          in: header
          required: true
          schema:
            type: string
            default: "no-cache"
            description: "no-cache"
        - name: Sec-Ch-Ua
          in: header
          required: true
          schema:
            type: string
            default: '"Chromium";v="116", "Not)A;Brand";v="24", "Google Chrome";v="116"'
            description: '"Chromium";v="116", "Not)A;Brand";v="24", "Google Chrome";v="116"'
        - name: Sec-Ch-Ua-Mobile
          in: header
          required: true
          schema:
            type: string
            default: "?0"
            description: "?0"
        - name: Sec-Ch-Ua-Platform
          in: header
          required: true
          schema:
            type: string
            default: '"Windows"'
            description: '"Windows"'
        - name: Sec-Fetch-Dest
          in: header
          required: true
          schema:
            type: string
            default: "empty"
            description: "empty"
        - name: Sec-Fetch-Mode
          in: header
          required: true
          schema:
            type: string
            default: "cors"
            description: "cors"
        - name: Sec-Fetch-Site
          in: header
          required: true
          schema:
            type: string
            default: "same-origin"
            description: "same-origin"

      responses:
        "200":
          description: ""

components:
  securitySchemes:
    UserAgent:
      description: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
      in: header
      name: user-agent
      type: apiKey
    BearerAuth:
      description: AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA
      scheme: bearer
      type: http
    ActiveUser:
      description: "yes"
      in: header
      name: x-twitter-active-user
      type: apiKey
    ClientLanguage:
      description: en
      in: header
      name: x-twitter-client-language
      type: apiKey

    # Browser Schemes
    Accept:
      description: "*/*"
      in: header
      name: Accept
      type: apiKey
    AcceptEncoding:
      description: "gzip, deflate, br"
      in: header
      name: Accept-Encoding
      type: apiKey
    AcceptLanguage:
      description: "en-US,en;q=0.9"
      in: header
      name: Accept-Language
      type: apiKey
    CacheControl:
      description: "no-cache"
      in: header
      name: Cache-Control
      type: apiKey
    Pragma:
      description: "no-cache"
      in: header
      name: Pragma
      type: apiKey
    SecChUa:
      description: '"Chromium";v="116", "Not)A;Brand";v="24", "Google Chrome";v="116"'
      in: header
      name: Sec-Ch-Ua
      type: apiKey
    SecChUaMobile:
      description: "?0"
      in: header
      name: Sec-Ch-Ua-Mobile
      type: apiKey
    SecChUaPlatform:
      description: '"Windows"'
      in: header
      name: Sec-Ch-Ua-Platform
      type: apiKey
    SecFetchDest:
      description: "empty"
      in: header
      name: Sec-Fetch-Dest
      type: apiKey
    SecFetchMode:
      description: "cors"
      in: header
      name: Sec-Fetch-Mode
      type: apiKey
    SecFetchSite:
      description: "same-origin"
      in: header
      name: Sec-Fetch-Site
      type: apiKey

security:
  - UserAgent: []
  - BearerAuth: []
  - ActiveUser: []
  - ClientLanguage: []
  - Accept: []
  - AcceptEncoding: []
  - AcceptLanguage: []
  - CacheControl: []
  - Pragma: []
  - SecChUa: []
  - SecChUaMobile: []
  - SecChUaPlatform: []
  - SecFetchDest: []
  - SecFetchMode: []
  - SecFetchSite: []
