components:
  schemas: {}
  securitySchemes:
    ActiveUser:
      description: 'yes'
      in: header
      name: x-twitter-active-user
      type: apiKey
    AuthType:
      description: OAuth2Session if you are logged in
      in: header
      name: x-twitter-auth-type
      type: apiKey
    BearerAuth:
      description: AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA
      scheme: bearer
      type: http
    ClientLanguage:
      description: en
      in: header
      name: x-twitter-client-language
      type: apiKey
    CookieAuthToken:
      description: HttpOnly cookie
      in: cookie
      name: auth_token
      type: apiKey
    CookieCt0:
      description: document.cookie.split('; ').find(row => row.startsWith('ct0='));
      in: cookie
      name: ct0
      type: apiKey
    CsrfToken:
      description: ''
      in: header
      name: x-csrf-token
      type: apiKey
    GuestToken:
      description: document.cookie.split('; ').find(row => row.startsWith('gt='));
      in: header
      name: x-guest-token
      type: apiKey
    UserAgent:
      description: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML,
        like Gecko) Chrome/112.0.0.0 Safari/537.36
      in: header
      name: user-agent
      type: apiKey
info:
  contact:
    email: yuki@yuki0311.com
  description: Twitter OpenAPI(Swagger) specification
  license:
    name: GNU Affero General Public License v3.
    url: https://raw.githubusercontent.com/fa0311/twitter-openapi/main/LICENSE.txt
  termsOfService: https://github.com/fa0311
  title: Twitter OpenAPI
  version: 0.0.1
openapi: 3.0.3
paths:
  /1.1/friends/following/list.json:
    $ref: ./paths/v1.1-get.yaml#/paths/~11.1~1friends~1following~1list.json
  /1.1/friendships/create.json:
    $ref: ./paths/v1.1-post.yaml#/paths/~11.1~1friendships~1create.json
  /1.1/friendships/destroy.json:
    $ref: ./paths/v1.1-post.yaml#/paths/~11.1~1friendships~1destroy.json
  /1.1/search/typeahead.json:
    $ref: ./paths/v1.1-get.yaml#/paths/~11.1~1search~1typeahead.json
  /2/search/adaptive.json:
    $ref: ./paths/v2.0-get.yaml#/paths/~12~1search~1adaptive.json
  /graphql/{pathQueryId}/Bookmarks:
    $ref: ./paths/bookmarks.yaml#/paths/~1graphql~1{pathQueryId}~1Bookmarks
  /graphql/{pathQueryId}/CreateRetweet:
    $ref: ./paths/post.yaml#/paths/~1graphql~1{pathQueryId}~1CreateRetweet
  /graphql/{pathQueryId}/CreateTweet:
    $ref: ./paths/post.yaml#/paths/~1graphql~1{pathQueryId}~1CreateTweet
  /graphql/{pathQueryId}/DeleteRetweet:
    $ref: ./paths/post.yaml#/paths/~1graphql~1{pathQueryId}~1DeleteRetweet
  /graphql/{pathQueryId}/DeleteTweet:
    $ref: ./paths/post.yaml#/paths/~1graphql~1{pathQueryId}~1DeleteTweet
  /graphql/{pathQueryId}/FavoriteTweet:
    $ref: ./paths/post.yaml#/paths/~1graphql~1{pathQueryId}~1FavoriteTweet
  /graphql/{pathQueryId}/Favoriters:
    $ref: ./paths/tweet.yaml#/paths/~1graphql~1{pathQueryId}~1Favoriters
  /graphql/{pathQueryId}/Followers:
    $ref: ./paths/follow.yaml#/paths/~1graphql~1{pathQueryId}~1Followers
  /graphql/{pathQueryId}/Following:
    $ref: ./paths/follow.yaml#/paths/~1graphql~1{pathQueryId}~1Following
  /graphql/{pathQueryId}/HomeLatestTimeline:
    $ref: ./paths/timeline.yaml#/paths/~1graphql~1{pathQueryId}~1HomeLatestTimeline
  /graphql/{pathQueryId}/HomeTimeline:
    $ref: ./paths/timeline.yaml#/paths/~1graphql~1{pathQueryId}~1HomeTimeline
  /graphql/{pathQueryId}/Likes:
    $ref: ./paths/usertweets.yaml#/paths/~1graphql~1{pathQueryId}~1Likes
  /graphql/{pathQueryId}/ListLatestTweetsTimeline:
    $ref: ./paths/timeline.yaml#/paths/~1graphql~1{pathQueryId}~1ListLatestTweetsTimeline
  /graphql/{pathQueryId}/ProfileSpotlightsQuery:
    $ref: ./paths/profile.yaml#/paths/~1graphql~1{pathQueryId}~1ProfileSpotlightsQuery
  /graphql/{pathQueryId}/Retweeters:
    $ref: ./paths/tweet.yaml#/paths/~1graphql~1{pathQueryId}~1Retweeters
  /graphql/{pathQueryId}/TweetDetail:
    $ref: ./paths/tweet.yaml#/paths/~1graphql~1{pathQueryId}~1TweetDetail
  /graphql/{pathQueryId}/UnfavoriteTweet:
    $ref: ./paths/post.yaml#/paths/~1graphql~1{pathQueryId}~1UnfavoriteTweet
  /graphql/{pathQueryId}/UserByScreenName:
    $ref: ./paths/user.yaml#/paths/~1graphql~1{pathQueryId}~1UserByScreenName
  /graphql/{pathQueryId}/UserMedia:
    $ref: ./paths/usertweets.yaml#/paths/~1graphql~1{pathQueryId}~1UserMedia
  /graphql/{pathQueryId}/UserTweets:
    $ref: ./paths/usertweets.yaml#/paths/~1graphql~1{pathQueryId}~1UserTweets
  /graphql/{pathQueryId}/UserTweetsAndReplies:
    $ref: ./paths/usertweets.yaml#/paths/~1graphql~1{pathQueryId}~1UserTweetsAndReplies
  /other:
    $ref: ./paths/other.yaml#/paths/~1other
security:
- CsrfToken: []
- CookieCt0: []
- GuestToken: []
- CookieAuthToken: []
- AuthType: []
- UserAgent: []
- BearerAuth: []
- ActiveUser: []
- ClientLanguage: []
servers:
- url: https://twitter.com/i/api
tags:
- description: response User
  name: user
- description: response User list
  name: user-list
- description: response tweet
  name: tweet
- description: post
  name: post
- description: legacy APIs get
  name: v1.1-get
- description: legacy APIs post
  name: v1.1-post
- description: legacy APIs get
  name: v2.0-get
- description: legacy APIs post
  name: v2.0-post
- description: other
  name: other
