components:
  schemas: {}
  securitySchemes:
    CookieAuthToken:
      description: HttpOnly cookie
      in: cookie
      name: auth_token
      type: apiKey
    CookieCt0:
      description: document.cookie.split('; ').find(row => row.startsWith('ct0='));
      in: cookie
      name: ct0
      type: apiKey
    CsrfToken:
      description: document.cookie.split('; ').find(row => row.startsWith('ct0='));
      in: header
      name: x-csrf-token
      type: apiKey
info:
  contact:
    email: yuki@yuki0311.com
  description: Twitter OpenAPI(Swagger) specification
  license:
    name: GNU Affero General Public License v3.
    url: https://raw.githubusercontent.com/fa0311/twitter-openapi/main/LICENSE.txt
  termsOfService: https://github.com/fa0311
  title: Twitter OpenAPI
  version: 0.0.1
openapi: 3.0.3
paths:
  /2TemLyqrMpTeAmysdbnVqw/ListLatestTweetsTimeline:
    $ref: ./paths/timeline.yaml#/paths/~12TemLyqrMpTeAmysdbnVqw~1ListLatestTweetsTimeline
  /5fmEkRT-1AdHqEsbVgehMg/Likes:
    $ref: ./paths/usertweets.yaml#/paths/~15fmEkRT-1AdHqEsbVgehMg~1Likes
  /9zwVLJ48lmVUk8u_Gh9DmA/ProfileSpotlightsQuery:
    $ref: ./paths/profile.yaml#/paths/~19zwVLJ48lmVUk8u_Gh9DmA~1ProfileSpotlightsQuery
  /HCosKfLNW1AcOo3la3mMgg/HomeTimeline:
    $ref: ./paths/timeline.yaml#/paths/~1HCosKfLNW1AcOo3la3mMgg~1HomeTimeline
  /HuTx74BxAnezK1gWvYY7zg/UserTweets:
    $ref: ./paths/usertweets.yaml#/paths/~1HuTx74BxAnezK1gWvYY7zg~1UserTweets
  /JpFFCTBPxYVlDqMUr9twzQ/Followers:
    $ref: ./paths/follow.yaml#/paths/~1JpFFCTBPxYVlDqMUr9twzQ~1Followers
  /RIWc55YCNyUJ-U3HHGYkdg/UserTweetsAndReplies:
    $ref: ./paths/usertweets.yaml#/paths/~1RIWc55YCNyUJ-U3HHGYkdg~1UserTweetsAndReplies
  /YqiE3JL1KNgf9nSljYdxaA/UserMedia:
    $ref: ./paths/usertweets.yaml#/paths/~1YqiE3JL1KNgf9nSljYdxaA~1UserMedia
  /b22I8WSfQ8H4Ev8486xAlQ/Following:
    $ref: ./paths/follow.yaml#/paths/~1b22I8WSfQ8H4Ev8486xAlQ~1Following
  /sLVLhk0bGj3MVFEKTdax1w/UserByScreenName:
    $ref: ./paths/user.yaml#/paths/~1sLVLhk0bGj3MVFEKTdax1w~1UserByScreenName
  /tmd4ifV8RHltzn8ymGg1aw/Bookmarks:
    $ref: ./paths/bookmarks.yaml#/paths/~1tmd4ifV8RHltzn8ymGg1aw~1Bookmarks
  /wNNG8DBB8EaXw1lq4vFWGA/TweetDetail:
    $ref: ./paths/tweet.yaml#/paths/~1wNNG8DBB8EaXw1lq4vFWGA~1TweetDetail
  /zhX91JE87mWvfprhYE97xA/HomeLatestTimeline:
    $ref: ./paths/timeline.yaml#/paths/~1zhX91JE87mWvfprhYE97xA~1HomeLatestTimeline
security:
- bearerAuth: []
- CsrfToken: []
- ActiveUser: []
- AuthType: []
- ClientLanguage: []
- CookieAuthToken: []
- CookieCt0: []
servers:
- url: https://twitter.com/i/api/graphql
tags:
- description: timeline
  name: timeline
- description: tweet
  name: tweet
- description: user
  name: user
- description: bookmark
  name: bookmark
- description: follow
  name: follow
- description: search
  name: search
- description: dm
  name: dm
- description: settings
  name: settings
- description: notify
  name: notify
- description: login session required
  name: login required
- description: graphql
  name: graphql
- description: login flow
  name: login-flow
- description: report flow
  name: report-flow
