components:
  schemas: {}
  securitySchemes:
    ActiveUser:
      description: 'yes'
      in: header
      name: x-twitter-active-user
      type: apiKey
    AuthType:
      description: OAuth2Session if you are logged in
      in: header
      name: x-twitter-auth-type
      type: apiKey
    BearerAuth:
      description: AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA
      scheme: bearer
      type: http
    ClientLanguage:
      description: en
      in: header
      name: x-twitter-client-language
      type: apiKey
    CookieAuthToken:
      description: HttpOnly cookie
      in: cookie
      name: auth_token
      type: apiKey
    CookieCt0:
      description: document.cookie.split('; ').find(row => row.startsWith('ct0='));
      in: cookie
      name: ct0
      type: apiKey
    CsrfToken:
      description: ''
      in: header
      name: x-csrf-token
      type: apiKey
    GuestToken:
      description: document.cookie.split('; ').find(row => row.startsWith('gt='));
      in: header
      name: x-guest-token
      type: apiKey
    UserAgent:
      description: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML,
        like Gecko) Chrome/112.0.0.0 Safari/537.36
      in: header
      name: user-agent
      type: apiKey
info:
  contact:
    email: yuki@yuki0311.com
  description: Twitter OpenAPI(Swagger) specification
  license:
    name: GNU Affero General Public License v3.
    url: https://raw.githubusercontent.com/fa0311/twitter-openapi/main/LICENSE.txt
  termsOfService: https://github.com/fa0311
  title: Twitter OpenAPI
  version: 0.0.1
openapi: 3.0.3
paths:
  /1.1/friends/following/list.json:
    $ref: ./paths/v1.1-get.yaml#/paths/~11.1~1friends~1following~1list.json
  /1.1/friendships/create.json:
    $ref: ./paths/v1.1-post.yaml#/paths/~11.1~1friendships~1create.json
  /1.1/friendships/destroy.json:
    $ref: ./paths/v1.1-post.yaml#/paths/~11.1~1friendships~1destroy.json
  /1.1/search/typeahead.json:
    $ref: ./paths/v1.1-get.yaml#/paths/~11.1~1search~1typeahead.json
  /2/search/adaptive.json:
    $ref: ./paths/v2.0-get.yaml#/paths/~12~1search~1adaptive.json
  /graphql/1RyAhNwby-gzGCRVsMxKbQ/CreateTweet:
    $ref: ./paths/post.yaml#/paths/~1graphql~11RyAhNwby-gzGCRVsMxKbQ~1CreateTweet
  /graphql/2TemLyqrMpTeAmysdbnVqw/ListLatestTweetsTimeline:
    $ref: ./paths/timeline.yaml#/paths/~1graphql~12TemLyqrMpTeAmysdbnVqw~1ListLatestTweetsTimeline
  /graphql/5fmEkRT-1AdHqEsbVgehMg/Likes:
    $ref: ./paths/usertweets.yaml#/paths/~1graphql~15fmEkRT-1AdHqEsbVgehMg~1Likes
  /graphql/9zwVLJ48lmVUk8u_Gh9DmA/ProfileSpotlightsQuery:
    $ref: ./paths/profile.yaml#/paths/~1graphql~19zwVLJ48lmVUk8u_Gh9DmA~1ProfileSpotlightsQuery
  /graphql/HCosKfLNW1AcOo3la3mMgg/HomeTimeline:
    $ref: ./paths/timeline.yaml#/paths/~1graphql~1HCosKfLNW1AcOo3la3mMgg~1HomeTimeline
  /graphql/HuTx74BxAnezK1gWvYY7zg/UserTweets:
    $ref: ./paths/usertweets.yaml#/paths/~1graphql~1HuTx74BxAnezK1gWvYY7zg~1UserTweets
  /graphql/IWP6Zt14sARO29lJT35bBw/Following:
    $ref: ./paths/follow.yaml#/paths/~1graphql~1IWP6Zt14sARO29lJT35bBw~1Following
  /graphql/RIWc55YCNyUJ-U3HHGYkdg/UserTweetsAndReplies:
    $ref: ./paths/usertweets.yaml#/paths/~1graphql~1RIWc55YCNyUJ-U3HHGYkdg~1UserTweetsAndReplies
  /graphql/VaenaVgh5q5ih7kvyVjgtg/DeleteTweet:
    $ref: ./paths/post.yaml#/paths/~1graphql~1VaenaVgh5q5ih7kvyVjgtg~1DeleteTweet
  /graphql/YqiE3JL1KNgf9nSljYdxaA/UserMedia:
    $ref: ./paths/usertweets.yaml#/paths/~1graphql~1YqiE3JL1KNgf9nSljYdxaA~1UserMedia
  /graphql/ZYKSe-w7KEslx3JhSIk5LA/UnfavoriteTweet:
    $ref: ./paths/post.yaml#/paths/~1graphql~1ZYKSe-w7KEslx3JhSIk5LA~1UnfavoriteTweet
  /graphql/djdTXDIk2qhd4OStqlUFeQ/Followers:
    $ref: ./paths/follow.yaml#/paths/~1graphql~1djdTXDIk2qhd4OStqlUFeQ~1Followers
  /graphql/iQtK4dl5hBmXewYZuEOKVw/DeleteRetweet:
    $ref: ./paths/post.yaml#/paths/~1graphql~1iQtK4dl5hBmXewYZuEOKVw~1DeleteRetweet
  /graphql/lI07N6Otwv1PhnEgXILM7A/FavoriteTweet:
    $ref: ./paths/post.yaml#/paths/~1graphql~1lI07N6Otwv1PhnEgXILM7A~1FavoriteTweet
  /graphql/ojPdsZsimiJrUGLR1sjUtA/CreateRetweet:
    $ref: ./paths/post.yaml#/paths/~1graphql~1ojPdsZsimiJrUGLR1sjUtA~1CreateRetweet
  /graphql/sLVLhk0bGj3MVFEKTdax1w/UserByScreenName:
    $ref: ./paths/user.yaml#/paths/~1graphql~1sLVLhk0bGj3MVFEKTdax1w~1UserByScreenName
  /graphql/tmd4ifV8RHltzn8ymGg1aw/Bookmarks:
    $ref: ./paths/bookmarks.yaml#/paths/~1graphql~1tmd4ifV8RHltzn8ymGg1aw~1Bookmarks
  /graphql/wNNG8DBB8EaXw1lq4vFWGA/TweetDetail:
    $ref: ./paths/tweet.yaml#/paths/~1graphql~1wNNG8DBB8EaXw1lq4vFWGA~1TweetDetail
  /graphql/zhX91JE87mWvfprhYE97xA/HomeLatestTimeline:
    $ref: ./paths/timeline.yaml#/paths/~1graphql~1zhX91JE87mWvfprhYE97xA~1HomeLatestTimeline
  /other:
    $ref: ./paths/other.yaml#/paths/~1other
security:
- CsrfToken: []
- CookieCt0: []
- CookieAuthToken: []
- AuthType: []
- UserAgent: []
- BearerAuth: []
- ActiveUser: []
- ClientLanguage: []
servers:
- url: https://twitter.com/i/api
tags:
- description: response User
  name: user
- description: response User list
  name: user-list
- description: response tweet
  name: tweet
- description: post
  name: post
- description: legacy APIs get
  name: v1.1-get
- description: legacy APIs post
  name: v1.1-post
- description: legacy APIs get
  name: v2.0-get
- description: legacy APIs post
  name: v2.0-post
- description: other
  name: other
