openapi: 3.0.3
info:
  title: Twitter OpenAPI
  description: |-
    Twitter OpenAPI(Swagger) specification
  termsOfService: https://github.com/fa0311
  contact:
    email: yuki@yuki0311.com
  license:
    name: GNU Affero General Public License v3.
    url: https://raw.githubusercontent.com/fa0311/twitter-openapi/main/LICENSE.txt
  version: 0.0.1
servers:
  - url: https://twitter.com/i/api/graphql

paths: {}
components:
  schemas: {}

  securitySchemes:
    CsrfToken:
      type: apiKey
      in: header
      name: x-csrf-token
      description: "document.cookie.split('; ').find(row => row.startsWith('ct0='));"

    CookieCt0:
      type: apiKey
      in: cookie
      name: ct0
      description: "document.cookie.split('; ').find(row => row.startsWith('ct0='));"

    CookieAuthToken:
      type: apiKey
      in: cookie
      name: auth_token
      description: "HttpOnly cookie"

    authType:
      type: apiKey
      in: header
      name: x-twitter-auth-type
      description: "OAuth2Session if you are logged in"

    # {% if header == securitySchemes %}

    UserAgent:
      description: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36"
      in: header
      name: user-agent
      type: apiKey
    ActiveUser:
      description: "yes"
      in: header
      name: x-twitter-active-user
      type: apiKey
    BearerAuth:
      description: AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA
      scheme: bearer
      type: http
    ClientLanguage:
      description: en
      in: header
      name: x-twitter-client-language
      type: apiKey

    # {% endif %}

security:
  - bearerAuth: []
  - CsrfToken: []
  - ActiveUser: []
  - AuthType: []
  - ClientLanguage: []
  - CookieAuthToken: []
  - CookieCt0: []
tags:
  - name: User
    description: response User
  - name: UserList
    description: response User list
  - name: Tweet
    description: response tweet
