openapi: 3.0.3
info:
  title: Twitter OpenAPI
  description: |-
    Twitter OpenAPI(Swagger) specification
  termsOfService: https://github.com/fa0311
  contact:
    email: yuki@yuki0311.com
  license:
    name: custom license or AGPL-3.0-or-later
    url: https://github.com/fa0311/twitter-openapi#license
  version: 0.0.1
servers:
  - url: https://x.com/i/api
  - url: https://twitter.com/i/api

paths: {}
components:
  schemas: {}

  securitySchemes:
    CsrfToken:
      type: apiKey
      in: header
      name: x-csrf-token
      description: ""

    CookieCt0:
      type: apiKey
      in: cookie
      name: ct0
      description: "document.cookie.split('; ').find(row => row.startsWith('ct0='));"

    GuestToken:
      type: apiKey
      in: header
      name: x-guest-token
      description: "document.cookie.split('; ').find(row => row.startsWith('gt='));"

    CookieAuthToken:
      type: apiKey
      in: cookie
      name: auth_token
      description: "HttpOnly cookie"

    AuthType:
      type: apiKey
      in: header
      name: x-twitter-auth-type
      description: "OAuth2Session if you are logged in"

security:
  - CsrfToken: []
  - CookieCt0: []
  - GuestToken: []
  - CookieAuthToken: []
  - AuthType: []
tags:
  - name: user
    description: Responses containing User objects.
  - name: users
    description: Responses containing List[User] objects.
  - name: user-list
    description: Responses containing instruction objects.
  - name: tweet
    description: Responses containing instruction objects.
  - name: post
    description: post
  - name: v1.1-get
    description: legacy APIs get
  - name: v1.1-post
    description: legacy APIs post
  - name: v2.0-get
    description: legacy APIs get
  - name: v2.0-post
    description: legacy APIs post
  - name: other
    description: other
