openapi: 3.0.3
info:
  title: Twitter OpenAPI
  description: |-
    Twitter OpenAPI(Swagger) specification
  termsOfService: https://github.com/fa0311
  contact:
    email: yuki@yuki0311.com
  license:
    name: custom license or AGPL-3.0-or-later
    url: https://github.com/fa0311/twitter-openapi#license
  version: 0.0.1
servers:
  - url: https://x.com/i/api
  - url: https://twitter.com/i/api

paths: {}
components:
  schemas: {}

  securitySchemes:
    Accept:
      description: "*/*"
      in: header
      name: Accept
      type: apiKey
    AcceptEncoding:
      description: "gzip, deflate, br, zstd"
      in: header
      name: Accept-Encoding
      type: apiKey
    AcceptLanguage:
      description: "en-US,en;q=0.9"
      in: header
      name: Accept-Language
      type: apiKey
    Priority:
      description: "u=1, i"
      in: header
      name: Priority
      type: apiKey
    Referer:
      description: "https://x.com/home"
      in: header
      name: Referer
      type: apiKey
    SecChUa:
      description: '"Chromium";v="116", "Not)A;Brand";v="24", "Google Chrome";v="116"'
      in: header
      name: Sec-Ch-Ua
      type: apiKey
    SecChUaMobile:
      description: "?0"
      in: header
      name: Sec-Ch-Ua-Mobile
      type: apiKey
    SecChUaPlatform:
      description: '"Windows"'
      in: header
      name: Sec-Ch-Ua-Platform
      type: apiKey
    SecFetchDest:
      description: "empty"
      in: header
      name: Sec-Fetch-Dest
      type: apiKey
    SecFetchMode:
      description: "cors"
      in: header
      name: Sec-Fetch-Mode
      type: apiKey
    SecFetchSite:
      description: "same-origin"
      in: header
      name: Sec-Fetch-Site
      type: apiKey
    UserAgent:
      description: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
      in: header
      name: user-agent
      type: apiKey
    BearerAuth:
      description: AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA
      scheme: bearer
      type: http
    ClientTransactionId:
      type: apiKey
      in: header
      name: x-client-transaction-id
    ClientUuid:
      type: apiKey
      in: header
      name: x-client-uuid
      description: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
    CsrfToken:
      type: apiKey
      in: header
      name: x-csrf-token
      description: "document.cookie.split('; ').find(row => row.startsWith('ct0='));"
    GuestToken:
      type: apiKey
      in: header
      name: x-guest-token
      description: "document.cookie.split('; ').find(row => row.startsWith('gt='));"
    ActiveUser:
      description: "yes"
      in: header
      name: x-twitter-active-user
      type: apiKey
    AuthType:
      type: apiKey
      in: header
      name: x-twitter-auth-type
      description: "OAuth2Session if you are logged in"
    ClientLanguage:
      description: en
      in: header
      name: x-twitter-client-language
      type: apiKey
    CookieAuthToken:
      type: apiKey
      in: cookie
      name: auth_token
      description: "HttpOnly cookie"
    CookieCt0:
      type: apiKey
      in: cookie
      name: ct0
      description: "document.cookie.split('; ').find(row => row.startsWith('ct0='));"
    CookieGt0:
      type: apiKey
      in: cookie
      name: gt0
      description: "document.cookie.split('; ').find(row => row.startsWith('gt0='));"

security:
  # Browser Schemes
  - Accept: []
  - AcceptEncoding: []
  - AcceptLanguage: []
  - Priority: []
  - Referer: []
  - SecChUa: []
  - SecChUaMobile: []
  - SecChUaPlatform: []
  - SecFetchDest: []
  - SecFetchMode: []
  - SecFetchSite: []
  # Other Auth Schemes
  - UserAgent: []
  - BearerAuth: []
  # X Schemes
  - ClientTransactionId: []
  - ClientUuid: []
  - CsrfToken: []
  - GuestToken: []
  # Twitter Schemes
  - ActiveUser: []
  - AuthType: []
  - ClientLanguage: []
  # Cookie Schemes
  - CookieCt0: []
  - CookieAuthToken: []
  - CookieGt0: []

tags:
  - name: user
    description: Responses containing User objects.
  - name: users
    description: Responses containing List[User] objects.
  - name: user-list
    description: Responses containing instruction objects.
  - name: tweet
    description: Responses containing instruction objects.
  - name: post
    description: post
  - name: v1.1-get
    description: legacy APIs get
  - name: v1.1-post
    description: legacy APIs post
  - name: v2.0-get
    description: legacy APIs get
  - name: v2.0-post
    description: legacy APIs post
  - name: other
    description: other
