openapi: 3.0.3
info:
  title: Twitter OpenAPI
  description: |-
    Twitter OpenAPI(Swagger) specification
  termsOfService: https://github.com/fa0311
  contact:
    email: yuki@yuki0311.com
  license:
    name: GNU Affero General Public License v3.
    url: https://raw.githubusercontent.com/fa0311/twitter-openapi/main/LICENSE.txt
  version: 0.0.1
servers:
  - url: https://twitter.com/i/api/graphql

paths: {}
components:
  schemas: {}

  securitySchemes:
    # Moved to Parameters because it is not working as Security
    # BearerAuth:
    #   type: http
    #   scheme: bearer
    #   description: "AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA"
    # AuthType:
    #   type: apiKey
    #   in: header
    #   name: x-twitter-auth-type
    #   description: "OAuth2Session"

    CsrfToken:
      type: apiKey
      in: header
      name: x-csrf-token
      description: "document.cookie.split('; ').find(row => row.startsWith('ct0='));"

    CookieCt0:
      type: apiKey
      in: cookie
      name: ct0
      description: "document.cookie.split('; ').find(row => row.startsWith('ct0='));"

    CookieAuthToken:
      type: apiKey
      in: cookie
      name: auth_token
      description: "HttpOnly cookie"

security:
  - bearerAuth: []
  - CsrfToken: []
  - ActiveUser: []
  - AuthType: []
  - ClientLanguage: []
  - CookieAuthToken: []
  - CookieCt0: []
tags:
  - name: User
    description: response User
  - name: UserList
    description: response User list
  - name: Tweet
    description: response tweet
